<!DOCTYPE html>
<html>
    <head>
        <title>Fuel manager</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Fuel.diw.fr, l'application pour gérer votre carburant" />
        <meta name="author" content="Michaël Gomes, diw.fr">
        <link type="text/css" rel="stylesheet" href="../src/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../src/css/bootstrap-theme.min.css">
        <link type="text/css" rel="stylesheet" href="../src/css/custom.css">
    </head>
