<h3>Ajouter un véhicule</h3>
<div id="login-form">
    <form action="" method="POST">
        <div class="form-group clearfix">
            <input type="text" name="brand" placeholder="Marque" class="form-control" />
            <input type="text" name="model" placeholder="Modèle" class="form-control" />
            <select name="type">
                <option selected="selected" value="voiture">Voiture</option>
                <option value="moto">Moto</option>
                <option value="autre">Autre</option>
            </select>
            <select name="fuel_type">
                <option selected="selected" value="essence">Essence</option>
                <option value="diesel">Diesel</option>
                <option value="hybride">Hybride</option>
            </select>
            <input type="number" name="global_km" placeholder="Kilométrage du véhicule" class="form-control" />
            <input type="submit" name="create_vehicle" class="btn btn-default" value="Créer un véhicule"/>
        </div>
    </form>
</div>