<div id="login-form">
    <form action="" method="POST">
        <div class="form-group clearfix">
            <input type="text" name="alias" placeholder="Pseudo" class="form-control" />
            <input type="password" name="pwd" placeholder="Mot de passe" class="form-control" />
            <input type="submit" name="connection" class="btn btn-default pull-right" value="Se connecter"/>
        </div>
    </form>
</div>
<form method="post">
    <button type="submit" name="signup" value="1">Créer un compte !</button>
</form>
