<div class="panel panel-default">
    <div class="panel-heading">Ajouter un parcours à ce véhicule</div>
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="km" class="col-sm-2 control-label">Distance parcourus</label>
                <div class="col-sm-10">
                    <input type="number" step="any" class="form-control" id="km" placeholder="Distance pour ce parcours" name="km">
                </div>
            </div>
            <div class="form-group">
                <label for="litres" class="col-sm-2 control-label">Volume de carburant</label>
                <div class="col-sm-10">
                    <input type="number" step="any" class="form-control" id="fuel_quantity" placeholder="Volume en litres pour ce parcours" name="fuel_quantity">
                </div>
            </div>
            <div class="form-group">
                <label for="prix" class="col-sm-2 control-label">Tarif du carburant</label>
                <div class="col-sm-10">
                    <input type="number" step="any" class="form-control" id="fuel_price" placeholder="Tarif en €uros" name="fuel_price">
                </div>
            </div>
            <div class="form-group pull-right">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" name="new_trip" value="1" class="btn btn-success m-left-10 m-top-10">Enregistrer ce parcours</button>
                    <a href="/?profil" class="btn btn-info m-left-10 m-top-10">Retour</a>
                </div>
            </div>
        </form>
    </div>
</div>



