<h3>Ajouter un parcours à ce véhicule</h3>
<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="km" class="col-sm-2 control-label">Kilométrage</label>
        <div class="col-sm-10">
            <input type="number" step="any" class="form-control" id="km" placeholder="Kilométrage" name="km">
        </div>
    </div>
    <div class="form-group">
        <label for="litres" class="col-sm-2 control-label">Quantité de carburant</label>
        <div class="col-sm-10">
            <input type="number" step="any" class="form-control" id="fuel_quantity" placeholder="Quantité en litres" name="fuel_quantity">
        </div>
    </div>
    <div class="form-group">
        <label for="prix" class="col-sm-2 control-label">Tarif du carburant</label>
        <div class="col-sm-10">
            <input type="number" step="any" class="form-control" id="fuel_price" placeholder="Tarif en €uros" name="fuel_price">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="new_trip" value="1" class="btn btn-default">Enregistrer ce parcours</button>
        </div>
    </div>
</form>