<h1>Créer un compte</h1>
<div id="login-form">
    <form action="" method="POST">
        <div class="form-group clearfix">
            <input type="text" name="alias" placeholder="Pseudo" class="form-control" />
            <input type="password" name="pwd" placeholder="Mot de passe" class="form-control" />
            <textarea name="address" placeholder="Adresse" class="form-control"></textarea>
            <input type="email" name="email" placeholder="E-mail" class="form-control" />
            <input type="submit" name="create" class="btn btn-default pull-right" value="Créer un compte"/>
        </div>
    </form>
</div>